body {
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: rgb(21, 21, 21);
  color: rgb(230, 230, 230);
  font-family: "Palatino", "Arial Narrow", Arial, sans-serif;
  max-width: 90ch;
}
a {
  color: rgb(82, 174, 255);
  padding-bottom: 5px;
}

pre {
  background-color: black;
  color: rgb(255, 177, 32);
  /* wrapping */
}

#ascii {
  color: rgb(255, 196, 0);
  background-color: rgb(21, 21, 21);
}
